<link rel="stylesheet" href="css/style2014.css">


<style>


  nav ul.nav-btn , .boton
  {
    font-family: "open_sans_regular", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: .95em ;
    width: 100% ;
  }

  ul.nav-btn {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  ul.nav-btn li {
    float: left;
    width: 20%;
    max-width: 8em ;
  }

  ul.nav-btn li a,
   .boton {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    color: #5e5c5c;
    display: block;
    text-decoration: none;
    height: 25px ;
    margin : 0 2px  ;
  }

 ul.nav-btn li a,
.boton  {
   background: rgb(249,252,247); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(249,252,247,1) 0%, rgba(245,249,240,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,252,247,1)), color-stop(100%,rgba(245,249,240,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f5f9f0',GradientType=0 ); /* IE6-9 */
  }

  ul.nav-btn li a:hover
  {
    color: #1B84C6;
    border: 1px solid #C5C5C5;
    opacity: .55;
    cursor: pointer;
  }
 .nav-btn .nav-btn-nombre ,
 .boton .nav-btn-nombre
  {
     width: 75%;
    display: inline-block;
    text-align: center;
    padding-top: 2px ;

  }
  .nav-btn .pre ,
  .nav-btn .post,
  .boton .pre,
  .boton .post {
    background: #ccc ;
    display: block;
    height: 24px ;
    position: relative;
    text-align: center;
    width: 21px ;
    font-size: 14px !important ;
    padding-top: 4px ;
    color: #F6F7F5 ;
  }

  .nav-btn span.pre , .boton .pre{margin-right: -1px; float: left; }
  .nav-btn span.post, .boton .post{margin-left: -1px; float: right;}

  .nav-btn .pre ,
  .nav-btn .post,
  .boton .pre,
  .boton .post {
    color: #fff;
    background: #e1e1e1; /* Old browsers */
    background: -moz-linear-gradient(top, #e1e1e1 0%, #cfcfcf 29%, #b6b7b7 58%, #9b9b9c 96%, #9f9f9f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1e1e1), color-stop(29%,#cfcfcf), color-stop(58%,#b6b7b7), color-stop(96%,#9b9b9c), color-stop(100%,#9f9f9f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e1e1e1 0%,#cfcfcf 29%,#b6b7b7 58%,#9b9b9c 96%,#9f9f9f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e1e1e1 0%,#cfcfcf 29%,#b6b7b7 58%,#9b9b9c 96%,#9f9f9f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e1e1e1 0%,#cfcfcf 29%,#b6b7b7 58%,#9b9b9c 96%,#9f9f9f 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e1e1e1 0%,#cfcfcf 29%,#b6b7b7 58%,#9b9b9c 96%,#9f9f9f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#9f9f9f',GradientType=0 ); /* IE6-9 */
  }

  .boton
  {
    text-align: center;
    max-width: 105px ;
    height: 30px ;
  }


</style>
<div>
  holas
</div>
<nav>
  <ul class="nav-btn">
    <li>
      <a href="#" class="">
        <span class="nav-btn-nombre">Nuevo</span>
        <span class="post icon-new " ></span>
      </a>
    </li>

    <li>
      <a href="#" class="">
        <span class="nav-btn-nombre"> Listar </span>
        <span class=" post icon-list" ></span>
      </a>
    </li>

    <li>
      <a href="#" class="">
        <span class="nav-btn-nombre ">Editar</span>
        <span class="post icon-edit" > </span>
      </a>
    </li>

    <li>
      <a href="#" class="">
        <span class="nav-btn-nombre"> Eliminar </span>
        <span class=" post icon-remove  " ></span>
      </a>
    </li>

    <li>
      <a href="#" class="">
        <span class="nav-btn-nombre">Reporte</span>
        <span class="post icon-pdf" ></span>
      </a>
    </li>

    <li>
      <a href="#" class="">
        <span class="nav-btn-nombre">Reporte</span>
        <span class="post icon-excel" ></span>
      </a>
    </li>

    <li>
      <a href="#" class="">
        <span class="nav-btn-nombre">Reporte</span>
        <span class="post icon-word" ></span>
      </a>
    </li>

    <li>
      <a href="#" class="">
        <span class="nav-btn-nombre"> Parcela</span>
        <span class=" pre icon-home " ></span>
      </a>
    </li>



  </ul>
</nav>
Menu 1
<a href="#" class="boton">
  <span class="nav-btn-nombre"> Eliminar </span>
  <span class=" post icon-remove " ></span>
</a>
Menu 2

<a href="#" class="boton">
  <span class="nav-btn-nombre"> Editar</span>
  <span class=" post icon-edit " ></span>
</a>
Menu 3

<a href="#" class="boton">
  <span class="nav-btn-nombre"> Guardar</span>
  <span class=" post icon-save " ></span>
</a>